@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .css-invert {
    @apply invert-[50%] brightness-200;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgb(80, 77, 77);
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #7c7c98;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }
}
